@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  font-family: "Raleway", sans-serif;
  background-color: rgba(29, 119, 119, 0.116);
}

.container {
  position: relative;
  width: 1024px;
  height: 800px;
  border: 5px solid rgba(178, 223, 18, 0.904);
  box-shadow: 0px 5px 20px rgba(236, 240, 6, 0.1);
  border-radius: 10px;
  padding: 10px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.title {
  position: relative;
  background-color: rgba(0, 0, 0, 0.609);
  color: rgb(23, 153, 185);
  padding: 20px;
  font-size: 2em;
  border-radius: 5px solid;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
}

.question {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 5px;
}

.questionBox {
  position: relative;
  border: 1px solid rgba(85, 41, 41, 0.2);
  margin-top: 5px;
  padding: 15px;
  box-sizing: border-box;
  background-color: rgba(47, 79, 79, 0.486);
}

.answerBtn {
  position: relative;
  padding: 10px;
  background-color: rgba(34, 47, 165, 0.582);
  display: inline-block;
  margin: 10px;
  outline: none;
  border: none;
  font-size: 1.2em;
  color: rgb(231, 227, 14);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.score-board {
  position: relative;
  height: 700px;
}

.score {
  position: absolute;
  width: 1024px;
  font-size: 3em;
  top: 250px;
  text-align: center;
}

.playBtn {
  position: absolute;
  font-size: 1.4em;
  padding: 10px;
  top: 350px;
  background-color: rgb(46, 182, 46);
  color: rgb(255, 255, 255);
  width: 150px;
  left: 0px;
  right: 0px;
  margin: auto;
  outline: none;
  cursor: pointer;
}
